Repository kpeacocke/gitops-portainer-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-validate, trivy-config-scan

docker-compose-validate:
  name: docker-compose-validate
  description: Validate docker-compose file for syntax errors
  entry: docker compose -f stack/docker-compose.yml config
  pass_filenames: false
  language: system

trivy-config-scan:
  name: trivy scan (stack/)
  entry: trivy config
  args:
  - stack/
  pass_filenames: false
  language: system

chore: Fix commitizen hook configuration to ensure filenames are passed correctly
  .pre-commit-config.yaml
Due: docker-compose-validate

chore: Remove sync-labels.sh script as it is no longer needed
  sync-labels.sh
Due: none

chore: Initialize versioning and update changelog for version 0.1.0
  .version
  CHANGELOG.md
Due: none

chore: Update Python version to 3.13 and yamllint to 1.37.1 in configuration files
  .github/workflows/release.yml
  .tool-versions
Due: docker-compose-validate

chore: Remove docker-compose.yml from version_files in commitizen configuration
  .cz.yaml
  .github/workflows/commit-msg.yml
Due: docker-compose-validate

fix: Update .github/workflows/commit-msg.yml
  .github/workflows/commit-msg.yml
Due: docker-compose-validate

fix: Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: docker-compose-validate

chore: Update Commitizen configuration and clean up release workflow
  .cz.yaml
  .github/workflows/release.yml
Due: docker-compose-validate

fix: Add missing checkout step in Pull Request Labeler workflow
  .github/workflows/label.yml
Due: docker-compose-validate

fix: Remove CI configuration from labeler.yml
  .github/labeler.yml
Due: docker-compose-validate

fix: Add CI configuration to labeler.yml
  .github/labeler.yml
Due: docker-compose-validate

fix: Standardize quotes in CI section of labeler.yml
  .github/labeler.yml
Due: docker-compose-validate

fix: Standardize patterns in labeler.yml
  .github/labeler.yml
Due: docker-compose-validate

fix: Update package-ecosystem to github-actions in dependabot.yml
  .github/dependabot.yml
Due: docker-compose-validate

feat: Add Portainer and agent services to docker-compose.yml
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

fix: Update stack/docker-compose.yml
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

feat: Add healthcheck configuration for Portainer and agent services in docker-compose.yml
  README.md
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

fix: Add missing volume mapping for Portainer service in docker-compose.yml
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

fix: Move Git identity configuration step in release workflow
  .github/workflows/release.yml
Due: docker-compose-validate

fix: Update Git identity configuration in release workflow
  .github/workflows/release.yml
Due: docker-compose-validate

fix: Add permissions section for write access in release workflow
  .github/workflows/release.yml
Due: docker-compose-validate

fix: Update badge links in README for GitOps Portainer Stack
  README.md
Due: none

fix: Remove version.txt file as it is no longer needed
  version.txt
Due: none

fix: Update README to reflect project name change from Portainer to Stash
  README.md
Due: none

fix: Update sample environment file with Portainer configuration
  stack/.env.sample
Due: none

fix: Update container name for Portainer service in docker-compose.yml
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

fix: Update container name for Portainer agent in docker-compose.yml
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

fix: Restore original container names for Portainer and agent in docker-compose.yml
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

fix: Remove unused agent service and related configurations from docker-compose.yml
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

Harden Portainer bootstrap and add monitor-only Watchtower
  README.md
  stack/.env.sample
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

Move Watchtower into dedicated stack
  README.md
  stack/.env.sample
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

Document Portainer governance and backup baseline
  README.md
Due: none

Document long-running Portainer proxy settings
  README.md
Due: none

feat: add missing service health checks
  stack/docker-compose.yml
Due: docker-compose-validate, trivy-config-scan

feat: deploy Portainer through AWX GitOps
  README.md
  automation/deploy.yml
  automation/templates/portainer.env.j2
Due: docker-compose-validate

fix: accept existing agent secret during migration
  automation/deploy.yml
Due: docker-compose-validate

Handle Synology Docker binary path
  automation/deploy.yml
Due: docker-compose-validate

Document Synology GitOps deployment baseline
  README.md
Due: none

fix(ci): provide compose validation secret
  .github/workflows/lint.yml
  .github/workflows/validate.yml
Due: docker-compose-validate

Path conditions:
  docker-compose-validate: any of: \.(yaml|yml)$
  trivy-config-scan: any of: ^stack/.*\.(yml|yaml)$ and \.(yaml|yml)$
